.heading{
    margin-top: 50px;
    color: rgb(254,2,185);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.detailsForm{
    border: 3px solid black;
    padding: 10px 20px;
    background-color: rgb(249, 229, 230);
    margin-left: 15px;
    margin-right: 15px;
    width: 900px;
}

.detailsLabel{
    font-size: 25px;
    font-weight: bold;
}

.container div{
    width: 1200px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
}

.searchButton{
    width: 200px;
    padding: 10px 20px;
    background-color: rgb(254,2,185);
    border: none;
    font-size: 25px;
    color: white;
    align-items: center;
    justify-content: center;
}

#divdiv{
    float: right;
    margin-right: 170px;
    margin-top: 15px;
}