.container {
    float: left;
    width: 25%;
    height: 100vh;
    background: rgb(249, 229, 230);
    overflow: hidden;
    margin-right: 20px;
    position: fixed;
}

p {
    margin: 0;
}

.ulist {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 30px;
    background: rgb(236, 201, 224);
    border-color: rgb(249, 229, 230);
    border-width: 5px;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 1, 187);
}

li:hover {
    font-weight: bold;
}

.activePage{
    background-color: rgb(250,0,255);
    color: white;
    font-weight: bold;
}

.mainContent{
    margin-left: 400px;
}